{% extends "registration/registration.html" %}
{% load widget_tweaks %}

{% block body %}

{% if validlink %}
<form method="POST" id="passwordForm">
    {% csrf_token %}

    <label>
        <span>Enter New Password</span>
        {% render_field form.new_password1 class="input" id="id_new_password1" %}
        {% for error in form.new_password1.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
    </label>

    <label>
        <span>Confirm New Password</span>
        {% render_field form.new_password2 class="input" id="id_new_password2" %}
        {% for error in form.new_password2.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
    </label>

    <div id="message">
        <p></p>
    </div>

    <button type="submit" id="submitButton"> RESET</button>

</form>

{% else %}
<p>The link is not valid!</p>

{% endif %}

{% endblock %}

<script>
    const passwordForm = document.getElementById('passwordForm');
    const passwordInput = document.getElementById('id_new_password1');
    const confirmPasswordInput = document.getElementById('id_new_password2');
    const submitButton = document.getElementById('submitButton');
    const messageDiv = document.getElementById('message');

    passwordForm.addEventListener('submit', function (event) {
        console("Button clicked");
        event.preventDefault();
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;
        if (password === confirmPassword) {
            // Passwords match, allow form submission
            messageDiv.textContent = 'Form submitted!';
            passwordForm.submit();
            alert('Password changed successfully.');
        } else {
            // Passwords don't match, show error message
            messageDiv.textContent = 'Passwords do not match.';
            alert('Passwords do not match.');
        }
    });
</script>