{% extends "user_interface/update/update_layout.html" %}
{% load widget_tweaks %}

{% block body %}

<section class="contact-area pt-20 pb-50" id="contact">
  <div class="container">
    <a href="{% url 'information' %}">
      <div class="btn button-2">Create
      </div>
    </a>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div class="section-headding mb-40 text-center">
          <h2>Education Details</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-12 align-self-center mb-30">
      <form class="contact-form" method="POST" enctype="multipart/form-data" action="{% url 'update_education' %}">
        {% csrf_token %}
        <div class="row">
          <!-- Course Title -->
          <div class="col-md-6">
            <label class="label" for="name">Title *</label>
            {% render_field eduFORM.eduTitle placeholder="Masters / Bachelors / High School" %}
            {% for error in eduFORM.eduTitle.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>


          <!-- Course Name -->
          <div class="col-md-6">
            <label class="label" for="name">Name *</label>
            {% render_field eduFORM.course placeholder="Computer Science / Mechanical Engineering / Business Administration" %}
            {% for error in eduFORM.course.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Start Year -->
          <div class="col-md-6">
            <label class="label" for="name">Start Year *</label>
            {% render_field eduFORM.eduYear placeholder="YYYY-MM-DD" %}
            {% for error in eduFORM.eduYear.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>


          <!-- End Year -->
          <div class="col-md-6">
            <label class="label" for="name">Graduation Year *</label>
            {% render_field eduFORM.eduEndYear placeholder="YYYY-MM-DD" %}
            {% for error in eduFORM.eduEndYear.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Institute -->
          <div class="col-md-6">
            <label class="label" for="name">Institute *</label>
            {% render_field eduFORM.institute placeholder="Havard University / Oxford University" %}
            {% for error in eduFORM.institute.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Description -->
          <div>
            <label class="label" for="textarea">Description *</label>
            {% render_field eduFORM.eduDescription placeholder="Tells us a bit more about what your studies entailed..."%}
            {% for error in eduFORM.eduDescription.errors %}
            <span class="text-danger ml-2">{{ error }}</span>
            {% endfor %}
          </div>

        </div>

        <button id="addmore_edu" class="btn btn-info">Next Education</button>
        <a href="{% url 'update_experience' %}">
          <button type="submit" class="button-1"> Update </button>
        </a>
      </form>
    </div>
</section>
{% endblock %}