<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'createForm/style.css' %}">
  <title>Personal Details</title>
</head>

<body>
  <div id="app">

    <!-- <form class="vue-form" @submit.prevent="submit"> -->
    <form class="vue-form" method="POST">
      {% csrf_token %}

      <fieldset>
        <legend>
          <h3>Personal Details {{ user }}</h3>
        </legend>

        <!-------------------------------- Intro --------------------------------->
        <div>
          <label class="label" for="name">Full Name *</label>
          {{ introFORM.fullName }}
          {% for error in introFORM.fullName.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Email -->
        <div>
          <label class="label" for="email">Email *</label>
          {{ introFORM.userEmail }}
          {% for error in introFORM.userEmail.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Bio -->
        <div>
          <label class="label" for="textarea">Bio *</label>
          {{ introFORM.bio }}
          {% for error in introFORM.bio.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Avatar -->
        <div>
          <label class="label" for="textarea">Avatar *</label>
          {{ introFORM.avatar }}
          {% for error in introFORM.avatar.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- CV -->
        <div>
          <label class="label" for="textarea">CV *</label>
          {{ introFORM.cv }}
          {% for error in introFORM.cv.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- About -->
        <div>
          <label class="label" for="textarea">About *</label>
          {{ introFORM.about }}
          {% for error in introFORM.about.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Address -->
        <div>
          <label class="label" for="name">Address *</label>
          {{ introFORM.address }}
          {% for error in introFORM.address.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Phone Number -->
        <div>
          <label class="label" for="name">Phone Number *</label>
          {{ introFORM.userPhone }}
          {% for error in introFORM.userPhone.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- GitHub -->
        <div>
          <label class="label" for="email">GitHub</label>
          {{ introFORM.github }}
          {% for error in introFORM.github.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- LinkedIn -->
        <div>
          <label class="label" for="email">LinkedIn</label>
          {{ introFORM.linkedin }}
          {% for error in introFORM.linkedin.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <hr>

        <!------------------------------- Education Details ------------------------------------>
        <span>
          <h3>Education Details</h3>
        </span>

        {% include 'user_interface/education.html' %}

        <div id="educations_added"></div>
        <button id="addmore_edu" class="btn btn-primary">Add More Education</button>

        <hr>

        <!---------------------------------- Experience Details ----------------------------------->
        <span>
          <h3>Experience Details</h3>
        </span>

        {% include 'user_interface/experience.html' %}

        <ol id="experiences_added"></ol>
        <button id="addmore_exp" class='btn btn-primary'>Add Another Experience</button>
        <hr>
        <!---------------------------------- Project Details ----------------------------------->
        <span>
          <h3>Projects Details</h3>
        </span>

        {% include 'user_interface/project.html' %}

        <ol id="projects_added"></ol>
        <button id="addmore_projects" class="btn btn-primary">Add Another Project</button>
        <hr>
        <!---------------------------------- Skillsets Details ----------------------------------->
        <span>
          <h3>Experience Details</h3>
        </span>

        {% include 'user_interface/skillset.html' %}
        <ol id="skillsets_added"></ol>
        <button id="addmore_skills" class="btn btn-primary">Add Another Skillset</button>
        <hr>

        <input type="submit" value="Send Form">

      </fieldset>
    </form>

  </div>
  <script type="text/javascript" src="{% static 'createForm/main.js' %}">
    document.addEventListener('DOMContentLoaded', function () {
      const submit = document.querySelector('#submit');

      document.querySelector('#addmore_exp').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `<!-- Experience Title -->
      <div>
        <label class="label" for="name">Title *</label>
        <input type="text" name="title" id="name" required="" v-model="name" placeholder="Junior Developer / System Engineer" {% if eduFORM.full_name.is_bound %}
          value="{{ expFORM.full_name.value }}" {% endif %}>
        {% for error in expFORM.title.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Year -->
      <div>
        <label class="label" for="name">Year *</label>
        <input type="text" name="year" id="name" required="" v-model="name" placeholder="2020" {% if expFORM.year.is_bound %}
          value="{{ expFORM.year.value }}" {% endif %}>
        {% for error in expFORM.year.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Institute -->
      <div>
        <label class="label" for="name">Company Name *</label>
        <input type="text" name="institute" id="name" required="" v-model="name"  placeholder="Google" {% if expFORM.institute.is_bound %}
          value="{{ expFORM.institute.value }}" {% endif %}>
        {% for error in expFORM.institute.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Description -->
      <div>
        <label class="label" for="textarea">Description *</label>
        <textarea class="message" name="description" id="textarea" required="" v-model="message.text" placeholder="Briefly write about this work experience"
          :maxlength="message.maxlength" {% if expFORM.description.is_bound %} value="{{ expFORM.description.value }}" {% endif%}></textarea>
        {% for error in expFORM.description.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>`;
        document.querySelector('#experiences_added').append(li);
        return false;
      }

      document.querySelector('#addmore_edu').onclick = () => {
        const p = document.createElement('p');
        p.innerHTML = `<!-- Course Title -->
      <div>
        <label class="label" for="name">Title *</label>
        <input type="text" name="title" id="name" required="" v-model="name" {% if eduFORM.full_name.is_bound %}
          value="{{ eduFORM.full_name.value }}" {% endif %}>
        {% for error in eduFORM.title.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Year -->
      <div>
        <label class="label" for="name">Year *</label>
        <input type="text" name="year" id="name" required="" v-model="name" {% if eduFORM.year.is_bound %}
          value="{{ eduFORM.year.value }}" {% endif %}>
        {% for error in eduFORM.year.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Institute -->
      <div>
        <label class="label" for="name">Institute *</label>
        <input type="text" name="institute" id="name" required="" v-model="name" {% if eduFORM.institute.is_bound %}
          value="{{ eduFORM.institute.value }}" {% endif %}>
        {% for error in eduFORM.institute.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Description -->
      <div>
        <label class="label" for="textarea">Description *</label>
        <textarea class="message" name="description" id="textarea" required="" v-model="message.text"
          :maxlength="message.maxlength" {% if expFORM.description.is_bound %} value="{{ expFORM.description.value }}" {% endif%}></textarea>
        {% for error in expFORM.description.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
      </div>`;
        document.querySelector('#educations_added').append(p);
        return false;
      }

      document.querySelector('#addmore_projects').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `<!-- Project Title -->
        <div>
          <label class="label" for="name">Title *</label>
          <input type="text" name="title" id="name" required="" v-model="name"
            placeholder="Portfolio Maker" {% if projectFORM.title.is_bound %}
            value="{{ projectFORM.title.value }}" {% endif %}>
          {% for error in projectFORM.title.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Year -->
        <div>
          <label class="label" for="name">Year *</label>
          <input type="text" name="year" id="name" required="" v-model="name" placeholder="2020" 
          {% if projectFORM.year.is_bound %} value="{{ projectFORM.year.value }}" {% endif %}>
          {% for error in projectFORM.year.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Image Link -->
        <div>
          <label class="label" for="email">Image Link</label>
          <input type="email" name="github" id="email" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if projectFORM.imagelink.is_bound %} value="{{ projectFORM.imagelink.value }}" {% endif %}>
          {% for error in projectFORM.imagelink.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- GitHub -->
        <div>
          <label class="label" for="email">GitHub Link</label>
          <input type="email" name="github_link" id="email" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if projectFORM.github_link.is_bound %} value="{{ projectFORM.github_link.value }}" {% endif %}>
          {% for error in projectFORM.github_link.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Demo -->
        <div>
          <label class="label" for="email">Demo Link</label>
          <input type="email" name="demo" id="email" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if projectFORM.demo.is_bound %} value="{{ projectFORM.demo.value }}" {% endif %}>
          {% for error in projectFORM.demo.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Description -->
        <div>
          <label class="label" for="textarea">Description *</label>
          <textarea class="message" name="description" id="textarea" required="" v-model="message.text"
            placeholder="Briefly write about this project" :maxlength="message.maxlength" 
            {% if projectFORM.description.is_bound %} value="{{ projectFORM.description.value }}" {% endif%}></textarea>
          {% for error in projectFORM.description.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>`;
        document.querySelector('#projects_added').append(li);
        return false;
      }

      document.querySelector('#addmore_skills').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `<!-- Skillset Title -->
        <div>
          <label class="label" for="name">Skillset Name *</label>
          <input type="text" name="title" id="name" required="" v-model="name"
            placeholder="Django" {% if skillsFORM.title.is_bound %}
            value="{{ skillsFORM.title.value }}" {% endif %}>
          {% for error in skillsFORM.title.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Logo Link -->
        <div>
          <label class="label" for="email">Logo Link</label>
          <input type="email" name="demo" id="logolink" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if skillsFORM.logolink.is_bound %} value="{{ skillsFORM.logolink.value }}" {% endif %}>
          {% for error in skillsFORM.logolink.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>


        <!-- Description -->
        <div>
          <label class="label" for="textarea">Description *</label>
          <textarea class="message" name="description" id="textarea" required="" v-model="message.text"
            placeholder="Briefly write about this skillset" :maxlength="message.maxlength" 
            {% if skillsFORM.description.is_bound %} value="{{ skillsFORM.description.value }}" {% endif%}></textarea>
          {% for error in skillsFORM.description.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>`;
        document.querySelector('#skillsets_added').append(li);
        return false;
      }

    });
  </script>
</body>

</html>