<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'createForm/style.css' %}">
  <title>Personal Details</title>
</head>

<body>

  {% block body %}
  {% endblock %}

  <script type="text/javascript" src="{% static 'createForm/main.js' %}">
  </script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      const submit = document.querySelector('#submit');

      document.querySelector('#addmore_exp').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `{% include 'user_interface/experience.html' %}`;
        document.querySelector('#experiences_added').append(li);
        return false;
      }

      document.querySelector('#addmore_edu').onclick = () => {
        const p = document.createElement('p');
        p.innerHTML = `{% include 'user_interface/education.html' %}`;
        document.querySelector('#educations_added').append(p);
        return false;
      }

      document.querySelector('#addmore_projects').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `{% include 'user_interface/project.html' %}`;
        document.querySelector('#projects_added').append(li);
        return false;
      }

      document.querySelector('#addmore_skills').onclick = () => {
        const li = document.createElement('li');
        li.innerHTML = `{% include 'user_interface/skillset.html' %}`;
        document.querySelector('#skillsets_added').append(li);
        return false;
      }

    });
  </script>
</body>

</html>