<!-- <form action="" enctype="multipart/form-data" method="post"> -->
<!-- Security Token -->
<!-- {% csrf_token %} -->

<!-- Using the Formset -->
<!-- {{ introFORM.as_p }}
    {{ eduFORM.as_p }}
    {{ expFORM.as_p }}
    {{ projectFORM.as_p }}

    <h2>Skill Form 1</h2>
    {{ skillsFORM.as_p }}

    <h2>Skill Form 2</h2>
    {{ skillsFORM.as_p }}

    <h2>Skill Form 3</h2>
    {{ skillsFORM.as_p }}

    <input type="submit" value="SUBMIT">

</form> -->


<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'createForm/style.css' %}">
  <title>Personal Details</title>
</head>

<body>
  <div id="app">

    <form class="vue-form" @submit.prevent="submit">
      {% csrf_token %}

      <fieldset>
        <legend>Vue Contact Form</legend>
        <!-- Intro -->
        <div>
          <label class="label" for="name">Name</label>
          <input type="text" name="full_name" id="name" required="" v-model="name" {% if introform.full_name.is_bound %}
            value="{{ introForm.full_name.value }}" {% endif %}>
          {% for error in introFORM.fullName.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Email -->
        <div>
          <label class="label" for="email">Email</label>
          <input type="email" name="email" id="email" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if introForm.email.is_bound %} value="{{ introForm.email.value }}" {% endif %}>
          {% for error in introFORM.email.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Bio -->
        <div>
          <label class="label" for="textarea">Bio</label>
          <textarea class="message" name="bio" id="textarea" required="" v-model="message.text"
            :maxlength="message.maxlength" {% if introForm.bio.is_bound %} value="{{ introForm.bio.value }}" {% endif%}></textarea>
          {% for error in introFORM.bio.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- About -->
        <div>
          <label class="label" for="textarea">About</label>
          <textarea class="message" name="about" id="textarea" required="" v-model="message.text"
            :maxlength="message.maxlength" {% if introForm.about.is_bound %} value="{{ introForm.about.value }}" {%endif %}></textarea>
          {% for error in introFORM.about.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Address -->
        <div>
          <label class="label" for="name">Address</label>
          <input type="text" name="address" id="name" required="" v-model="name" {% if introform.address.is_bound %}
            value="{{ introForm.address.value }}" {% endif %}>
          {% for error in introFORM.address.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Phone Number -->
        <div>
          <label class="label" for="name">Phone Number</label>
          <input type="text" name="phone" id="name" required="" placeholder="Eg. +254 800 000000" v-model="name" {% if introform.phone.is_bound %}
            value="{{ introForm.phone.value }}" {% endif %}>
          {% for error in introFORM.phone.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- GitHub -->
        <div>
        <label class="label" for="email">GitHub</label>
        <input type="email" name="github" id="email" required="" :class="{ email , error: !email.valid }"
          v-model="email.value" {% if introForm.github.is_bound %} value="{{ introForm.github.value }}" {% endif %}>
        {% for error in introFORM.github.errors %}
        <span class="text-danger ml-2">{{ error }}</span>
        {% endfor %}
        </div>

        <!-- LinkedIn -->
        <div>
          <label class="label" for="email">LinkedIn</label>
          <input type="email" name="linkedin" id="email" required="" :class="{ email , error: !email.valid }"
            v-model="email.value" {% if introForm.github.is_bound %} value="{{ introForm.linkedin.value }}" {% endif %}>
          {% for error in introFORM.linkedin.errors %}
          <span class="text-danger ml-2">{{ error }}</span>
          {% endfor %}
        </div>

      <hr>

      <span>
        Education Details
      </span>
      

        <!-- <div>
          <h4>Team Member</h4>
          <p class="select">
            <select class="budget" v-model="selection.member">
              <option value="0">Sarah
                Drasner</option>
              <option value="1">Evan
                You</option>
            </select>
          </p>
        </div> -->

        <div>
          <h4>Framework</h4>

          <ul class="vue-form-list">
            <li>
              <input type="radio" name="radio-1" id="radio-1" value="angular" v-model="selection.framework">
              <label for="radio-1">AngularJS</label>
            </li>
            <li>
              <input type="radio" name="radio-2" id="radio-2" value="react" v-model="selection.framework">
              <label for="radio-2">ReactJS</label>
            </li>
            <li>
              <input type="radio" name="radio-3" id="radio-3" value="vue" v-model="selection.framework">
              <label for="radio-3">VueJS</label>
            </li>
          </ul>
        </div>

        <div>
          <h4>Features</h4>
          <ul class="vue-form-list">
            <li v-for="(feature, index) in features">
              <input type="checkbox" :value="feature" :id="'cb-feature-'+index" v-model="selection.features">
              <label :for="'cb-feature-'+index">{{feature}}</label>
            </li>
            <li>
              <input type="checkbox" id="checkbox-all" @click="checkAll">
              <label for="checkbox-all">Check All</label>
            </li>
          </ul>
        </div>
        <div>
          <label class="label" for="textarea">Message with Counter</label>
          <textarea class="message" name="textarea" id="textarea" required="" v-model="message.text"
            :maxlength="message.maxlength"></textarea>
          <span class="counter">{{ message.text.length }} / {{
            message.maxlength }}</span>
        </div>
        <div>
          <input type="submit" value="Send Form">
        </div>
      </fieldset>
    </form>
    <div class="debug">
      <pre><code>{{ data }}</code></pre>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'createForm/main.js' %}"></script>
</body>

</html>