<!-- Course Title -->
<div>
  <label class="label" for="name">Title *</label>
  {{ eduFORM.eduTitle }}
  {% for error in eduFORM.eduTitle.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Year -->
<div>
  <label class="label" for="name">Year *</label>
  {{ eduFORM.eduYear }}
  {% for error in eduFORM.eduYear.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Institute -->
<div>
  <label class="label" for="name">Institute *</label>
  {{ eduFORM.institute }}
  {% for error in eduFORM.institute.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Description -->
<div>
  <label class="label" for="textarea">Description *</label>
  {{ eduFORM.eduDescription }}
  {% for error in eduFORM.eduDescription.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>