{% extends "user_interface/create_layout.html" %}
{% load widget_tweaks %}

{% block body %}
<form class="vue-form" method="POST" enctype="multipart/form-data" action="{% url 'experience' %}">
  {% csrf_token %}
  <fieldset>
    <div style="margin-left: auto; margin-right: 2%; padding: 0 0 0 635px;">
      <a href="{% url 'logout' %}" class="btn btn-danger"> Logout, {{ user }}</a>
    </div>
    <span>
      <h3> Experience Details </h3>
    </span>

    <!-- Experience Title -->
    <div>
      <label class="label" for="name">Title *</label>
      {% render_field expFORM.expTitle placeholder="Software Developer / Student / Engineer / Researcher" %}
      {% for error in expFORM.expTitle.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Year -->
    <div>
      <label class="label" for="name">From *</label>
      {% render_field expFORM.expYear placeholder="2020" %}
      {% for error in expFORM.expYear.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      <label class="label" for="name">To *</label>
      {% render_field expFORM.expEndYear placeholder="2022" %}
      {% for error in expFORM.expEndYear.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Institute -->
    <div>
      <label class="label" for="name">Company Name *</label>
      {% render_field expFORM.company placeholder="Google / Microsoft / Tesla" %}
      {% for error in expFORM.company.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Description -->
    <div>
      <label class="label" for="textarea">Description *</label>
      {% render_field expFORM.expDescription placeholder="Tell us in a few sentences what your work involved..." %}
      {% for error in expFORM.expDescription.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <button id="addmore_exp" class="btn btn-info">Add Another Experience</button>

  </fieldset>
  <a href="{% url 'project' %}">
    <input type="submit" value="Next">
  </a>
</form>
{% endblock %}