{% extends "user_interface/create_layout.html" %}
{% load widget_tweaks %}

{% block body %}
<form class="vue-form" method="POST" enctype="multipart/form-data" action="{% url 'information' %}">
  {% csrf_token %}
  <fieldset>
    <div style="margin-left: auto; margin-right: 2%; padding: 0 0 0 635px;">
      <a href="{% url 'logout' %}" class="btn btn-danger"> Logout</a>
    </div>
    <span>
      <h3> Personal Details </h3>
    </span>
    <!-------------------------------- Intro --------------------------------->
    <div>
      <label class="label" for="name">First Name *</label>
      {% render_field introFORM.fName placeholder="Jane" %}
      {% for error in introFORM.fName.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      <label class="label" for="name">Last Name *</label>
      {% render_field introFORM.lName placeholder="Doe" %}
      {% for error in introFORM.lName.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Email -->
    <div>
      <label class="label" for="email">Email *</label>
      {% render_field introFORM.userEmail placeholder="example@mail.com" %}
      {% for error in introFORM.userEmail.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- D.o.B -->
    <div>
      <label class="label" for="name">D.O.B *</label>
      {% render_field introFORM.dob placeholder="2000-12-31" %}
      {% for error in introFORM.dob.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Bio -->
    <div>
      <label class="label" for="textarea">Bio *</label>
      {% render_field introFORM.bio placeholder="Software Developer / Design Engineer / Business Analyst" %}
      {% for error in introFORM.bio.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Avatar -->
    <div>
      <label class="label" for="textarea">Avatar *</label>
      {{ introFORM.avatar }}
      {% for error in introFORM.avatar.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- CV -->
    <div>
      <label class="label" for="textarea">CV *</label>
      {{ introFORM.cv }}
      {% for error in introFORM.cv.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- About -->
    <div>
      <label class="label" for="textarea">About *</label>
      {% render_field introFORM.about placeholder="In a few sentences, describe yourself..." %}
      {% for error in introFORM.about.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Address -->
    <div>
      <label class="label" for="name">Address *</label>
      {% render_field introFORM.address placeholder="City, Country" %}
      {% for error in introFORM.address.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Phone Number -->
    <div>
      <label class="label" for="name">Phone Number *</label>
      {% render_field introFORM.userPhone placeholder="001-212-456-7890" %}
      {% for error in introFORM.userPhone.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- GitHub -->
    <div>
      <label class="label" for="email">GitHub</label>
      {% render_field introFORM.github placeholder="https://github.com/<username>" %}
      {% for error in introFORM.github.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- LinkedIn -->
    <div>
      <label class="label" for="email">LinkedIn</label>
      {% render_field introFORM.linkedin placeholder="https://www.linkedin.com/<username>" %}
      {% for error in introFORM.linkedin.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Stack Overflow -->
    <div>
      <label class="label" for="email">Stack Overflow</label>
      {% render_field introFORM.stackoverflow placeholder="https://www.stackoverflow.com/<username>" %}
      {% for error in introFORM.stackoverflow.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Facebook -->
    <div>
      <label class="label" for="email">Facebook</label>
      {% render_field introFORM.facebook placeholder="https://www.facebook.com/<username>" %}
      {% for error in introFORM.facebook.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Twitter -->
    <div>
      <label class="label" for="email">Twitter</label>
      {% render_field introFORM.twitter placeholder="https://www.twitter.com/<username>" %}
      {% for error in introFORM.twitter.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <hr>
  </fieldset>
  <a href="{% url 'education' %}">
    <!-- <button type="submit"> Next </button> -->
    <input type="submit" value="Next">
  </a>
</form>
{% endblock %}