{% extends "user_interface/create_layout.html" %}

{% block body %}
<form class="vue-form" method="POST" enctype="multipart/form-data" action="{% url 'information' %}">
  {% csrf_token %}
  <fieldset>
    <div style="margin-left: auto; margin-right: 2%; padding: 0 0 0 635px;">
      <a href="{% url 'logout' %}" class="btn btn-danger"> Logout, {{ user }}</a>
    </div>
    <span>
      <h3> Personal Details </h3>
    </span>
    <!-------------------------------- Intro --------------------------------->
    <div>
      <label class="label" for="name">First Name *</label>
      {% render_field introFORM.fName %}
      {% for error in introFORM.fName.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      <label class="label" for="name">Last Name *</label>
      {% render_field introFORM.lName %}
      {% for error in introFORM.lName.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Email -->
    <div>
      <label class="label" for="email">Email *</label>
      {{ introFORM.userEmail }}
      {% for error in introFORM.userEmail.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Bio -->
    <div>
      <label class="label" for="textarea">Bio *</label>
      {{ introFORM.bio }}
      {% for error in introFORM.bio.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Avatar -->
    <div>
      <label class="label" for="textarea">Avatar *</label>
      {{ introFORM.avatar }}
      {% for error in introFORM.avatar.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- CV -->
    <div>
      <label class="label" for="textarea">CV *</label>
      {{ introFORM.cv }}
      {% for error in introFORM.cv.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- About -->
    <div>
      <label class="label" for="textarea">About *</label>
      {{ introFORM.about }}
      {% for error in introFORM.about.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Address -->
    <div>
      <label class="label" for="name">Address *</label>
      {{ introFORM.address }}
      {% for error in introFORM.address.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Phone Number -->
    <div>
      <label class="label" for="name">Phone Number *</label>
      {{ introFORM.userPhone }}
      {% for error in introFORM.userPhone.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- GitHub -->
    <div>
      <label class="label" for="email">GitHub</label>
      {{ introFORM.github }}
      {% for error in introFORM.github.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- LinkedIn -->
    <div>
      <label class="label" for="email">LinkedIn</label>
      {{ introFORM.linkedin }}
      {% for error in introFORM.linkedin.errors %}
      <span class="text-danger ml-2">{{ error }}</span>
      {% endfor %}
    </div>

    <hr>
  </fieldset>
  <a href="{% url 'education' %}">
    <!-- <button type="submit"> Next </button> -->
    <input type="submit" value="Next">
  </a>
</form>
{% endblock %}