<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'css/loginStyles.css' %}">

</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <div class="cont">
    <div class="form sign-in">
      {% if form.non_field_errors %}
      <ul class='form-errors'>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        
        <div class="section-headding mb-40 text-center">
          <h2>Welcome</h2>
        </div>

        <label>
          <span>Username</span>
          <input id="username" type="text" class="input" name="username" required>
        </label>

        <label>
          <span>Password</span>
          <input id="pass" type="password" class="input" data-type="password" name="password" required>
          <p class="text-danger">{{ message }}</p>
        </label>

        <a href="{% url 'password_reset' %}">
          <p class="forgot-pass">Forgot password?</p>
        </a>

        <button type="submit" class="submit">Sign In</button>
      </form>
    </div>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h3>Don't have an account? Please Sign up!<h3>
        </div>
        <div class="img__text m--in">
          <h3>If you already has an account, just sign in.<h3>
        </div>
        <div class="img__btn">
          <span class="m--up">Sign Up</span>
          <span class="m--in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        {% if form.non_field_errors %}
        <ul class='form-errors'>
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="section-headding mb-40 text-center">
            <h2>Create your Account</h2>
          </div>

          <label>
            <span>Username</span>
            <input id="user" type="text" class="input" name="username" required>
          </label>
          <label>
            <span>Email</span>
            <input id="email" type="text" class="input" name="email" required>
          </label>
          <label>
            <span>Password</span>
            <input id="password" type="password" class="input" data-type="password" name="password" required>
          </label>
          <label>
            <span>Confirm Password</span>
            <input id="pass-confirm" type="password" class="input" data-type="password" name="confirmation" required>
            <p class="text-danger">{{ message }}</p>
          </label>
          
          

          <button type="submit" class="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.querySelector('.img__btn').addEventListener('click', function () {
      document.querySelector('.cont').classList.toggle('s--signup');
    });
  </script>
</body>

</html>