<!-- Project Title -->
<div>
  <label class="label" for="name">Title *</label>
  {{ projectFORM.projTitle }}
  {% for error in projectFORM.projTitle.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Year -->
<div>
  <label class="label" for="name">Year *</label>
  {{ projectFORM.projYear }}
  {% for error in projectFORM.projYear.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Image Link -->
<div>
  <label class="label" for="email">Image Link</label>
  {{ projectFORM.imagelink }}
  {% for error in projectFORM.imagelink.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- GitHub -->
<div>
  <label class="label" for="email">GitHub Link</label>
  {{ projectFORM.github_link }}
  {% for error in projectFORM.github_link.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Demo -->
<div>
  <label class="label" for="email">Demo Link</label>
  {{ projectFORM.demo }}
  {% for error in projectFORM.demo.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Description -->
<div>
  <label class="label" for="textarea">Description *</label>
  {{ projectFORM.projDescription }}
  {% for error in projectFORM.projDescription.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>