<!-- Skillset Title -->
<div>
  <label class="label" for="name">Skillset Name *</label>
  {{ skillsFORM.skillTitle }}
  {% for error in skillsFORM.title.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Logo Link -->
<div>
  <label class="label" for="email">Logo Link</label>
  {{ skillsFORM.logolink }}
  {% for error in skillsFORM.logolink.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Description -->
<div>
  <label class="label" for="textarea">Description *</label>
  {{ skillsFORM.skillDescription }}
  {% for error in skillsFORM.description.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>

<!-- Rank -->
<div>
  <label class="label" for="textarea">Description *</label>
  {{ skillsFORM.rank }}
  {% for error in skillsFORM.rank.errors %}
  <span class="text-danger ml-2">{{ error }}</span>
  {% endfor %}
</div>